.product-card{
  background: #111;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 15px;
}

.product-card img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h2{
  margin-top: 10px;
  color: white;
}

.product-card p{
  color: #aaa;
}

.product-card h3{
  color: #00ff88;
}

.product-card button{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #00ff88;
  color: black;
  font-weight: bold;
  cursor: pointer;
}